<% provide(:title, "FnASorm") %>

<% if !@error.blank? %>
   <div class="alert alert-error", style="text-align:center;"><%= @error %></div>
<% end %>

<div class="container">
   <div class="well">
      <h1>ども、ども、早くしてください!</h1>
      <%= form_for(:session, url: 'exec') do |f|%>
         <%= f.label "Yes" %>
         <%= f.text_field :position %>
         <%= f.label "Ma'am" %>
         <%= f.password_field :password %>
         <br>
         <%= f.submit "молоко", class: "btn-inverse btn-large btn-primary" %>
      <%  end %>
   </div>
</div>
