<% provide(:title, 'Home') %>
<div class="well">
   <h1>Announcements</h1>
   <% @posts.each do |post| %>
      <div id="<%= post.content_type %>">
         <div class="well">
            <div id="edit_options">
               <b>[<%= post.content_type.to_s.capitalize %>]</b>
            </div>
            <h3><%= post.title %></h3>

            <p><%= markdown(post.content) %></p>
            <br>
            <br>
            Posted on: <%= post.created_at.in_time_zone(Time.zone.name).to_date %>
            <% if post.created_at != post.updated_at %>
               | Updated on <%= post.updated_at %>
            <% end %>
            | <i>by <%= get_author_name(post) %></i>
            <% if signed_in? %>
               <br>
               <%= link_to "Edit", edit_post_path(post) %> 

               <div id="edit_options">
                  <%= link_to "Delete", post, method: :delete,
                     data: { confirm: "Are you sure?" } %>
                  </div>
               <% end %>
            </div>
         </div>
      <% end %>
   </div>
