<header class="navbar navbar-fixed-top navbar-inverse">
<div class="navbar-inner">
   <div class="container">
      <%= link_to "GameDevSoc@UNSW", root_path, id: "logo" %>
      <nav>
      <ul class="nav pull-right">
         <li><%= link_to "Home",    root_path %></li>
         <li><%= link_to "About",    about_path %></li>
         <li><%= link_to "Showcase", showcase_path %></li>
         <li><%= link_to "Toilet",    '#' %></li>
        <li><%= link_to "Sign Up",    signup_path, id: "signup" %></li>
      </ul>
      </nav>
   </div>
</div>
</header>
