<!DOCTYPE html>
<html>
   <head>
      <title><%= get_title(yield(:title)) %></title>
      <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
      <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
      <%= csrf_meta_tags %>
   </head>
   <body>
      <%= render 'layouts/header' %>
      <div id="mainsection">

         <% if yield(:title).to_s == "Signup" %>
            <div class="container-fluid maincontainer">
               <div class="row offset5">
                  <%= yield %>
               </div>
            </div>
         <% else %>
            <div class="container maincontainer">
               <% if yield(:title).to_s == "Home" %>

                  <div class="hero-unit", id="homeunit">
                     <h1>GDS</h1>
                     <p>Game Development Society UNSW</p>

                  </div>
               <% end %>
               <div class="well">
                  <%= yield %>
               </div>
            </div>
         <% end %>
      </div>
      <%= render 'layouts/footer' %>
   </body>
</html>
